.icon-social {
  color: #fff;
  float: right;
  padding-left: 30px;
  padding-top: 20px; }

.fn-100 {
  float: left;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #111111; }

ul li {
  list-style: none;
  margin: 0;
  padding: 0; }

.fn-100 {
  float: left;
  width: 100%; }

.header {
  background-color: #2545ac;
  min-height: 68px;
  float: left;
  width: 100%; }

.navbar-brand {
  float: left;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: 0; }

.navbar-brand img {
  margin: 11.5px 0px;
  width: 135px;
  height: 45px; }

.navbar-nav li {
  font-size: 18px;
  float: right; }

.navbar-nav a {
  color: #333; }

.nav-content {
  width: 100%;
  float: left;
  min-height: 75px;
  background-color: #1c1f23;
  font-size: 15px; }

.nav-content .nav {
  padding: 18px 0; }

.nav-content .nav-link {
  text-align: center;
  color: #fff;
  float: left; }

.slide-show {
  width: 100%;
  float: left;
  height: 525px; }

.slide-show img {
  width: 100%;
  height: 100%; }

.slide-show .carousel-item {
  width: 100%;
  height: 525px;
  float: left;
  background-size: cover; }

.slide-show .btn {
  margin-top: 35px;
  border-radius: 20px;
  background-color: #2545ac;
  border: none; }

.slide-show .carousel-control-next, .slide-show .carousel-control-prev {
  width: 50px; }

.slide-show .block-arrow {
  width: 50px;
  height: 90px;
  background-color: #33393d; }

.slide-show .carousel-control-next-icon, .slide-show .carousel-control-prev-icon {
  width: 20px;
  height: 40px;
  background-size: cover;
  margin: 25px 0px; }

.slide-show .carousel-control-prev-icon {
  background-image: url(../images/slide-pre.png); }

.slide-show .carousel-control-next-icon {
  background-image: url(../images/slide-next.png); }

.title-info {
  height: 85px; }

.title-info .title {
  float: left;
  text-transform: uppercase;
  font-size: 30px; }

.sub-text {
  margin-top: -350px;
  color: #fff;
  float: left; }

.sub-text h2 {
  text-transform: uppercase;
  font-size: 30px; }

.sub-text p {
  font-size: 15px;
  padding-top: 40px;
  line-height: 22px; }

.horse-info {
  width: 100%;
  min-height: 500px;
  float: left; }

.title-info h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  float: left;
  padding: 28px 0; }

.horse-image {
  background-color: #363636;
  float: left;
  height: 300px;
  margin-bottom: 20px; }

.horse-image img {
  width: 100%;
  height: 210px; }

.horse-image h3 {
  padding-left: 17px;
  float: left;
  font-size: 18px;
  color: #fff; }

.horse-image p {
  float: left;
  color: #a5a5a5;
  font-size: 15px;
  padding-left: 17px; }

.arrow-control {
  margin-top: 20px;
  margin-bottom: 55px;
  float: left;
  width: 100%;
  height: 30px; }

.box-arrow {
  height: 30px;
  width: 35px;
  background-color: #2545ac; }

.box-arrow img {
  width: 20px;
  height: 17px;
  margin-left: 5px;
  margin-top: 5px; }

.arrow-control .left-arrow {
  float: left; }

.arrow-control .right-arrow {
  float: right; }

.race-info {
  float: left;
  width: 100%;
  height: 285px;
  background-color: #363636;
  border-bottom: 1px solid #111; }

.race-info img {
  width: 100%;
  height: 190px;
  float: left; }

.race-info h3 {
  margin-top: 12px;
  float: left;
  color: #fff;
  font-size: 16px;
  padding-left: 17px; }

.race-info p {
  float: left;
  color: #a5a5a5;
  font-size: 13px;
  padding-left: 17px; }

.race {
  width: 100%;
  height: 105px;
  float: left;
  background-color: #363636;
  border-bottom: 1px solid #111; }

.race img {
  float: left;
  width: 70px;
  height: 70px;
  margin: 15px; }

.right-newletter {
  float: left;
  width: 150px; }

.right-newletter h3 {
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
  float: left; }

.right-newletter p {
  float: left;
  color: #a5a5a5;
  font-size: 13px; }

.edmond-race {
  float: left;
  background-image: url(../images/background-edmond.png);
  width: 100%;
  height: 285px;
  padding-top: 90px;
  color: #333;
  text-transform: uppercase; }

.edmond-race h3 {
  width: 100%;
  float: left;
  color: #fff;
  font-size: 20px;
  padding-left: 27px; }

.edmond-race h2 {
  width: 100%;
  float: left;
  padding-left: 27px;
  font-size: 26px;
  color: #fefefe;
  margin-top: 18px; }

.edmond-race img {
  float: left;
  padding-left: 27px;
  padding-top: 20px;
  height: 65px; }

.contact-them {
  float: left;
  width: 100%;
  height: 248px;
  margin: 35px 0; }

.contact-them .image-them {
  width: 70%;
  float: left; }

.contact-them img {
  float: left;
  width: 100%; }

.contact-them .contact-button {
  width: 155px;
  height: 40px;
  float: left;
  background-color: #2545ac;
  margin-left: -20px;
  margin-top: 60px; }

.contact-them h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 10px; }

.btn-primary {
  color: #fff;
  font-size: 15px;
  background-color: #111111;
  border-color: #111111; }

.btn-primary:hover {
  color: #3c74f3;
  background-color: #363636;
  border-color: #111111; }

.bg-light {
  margin-top: 10px;
  background-color: #1c1f23 !important;
  font-size: 15px; }

.bg-light li {
  padding-right: 20px; }

.navbar-light .navbar-brand {
  color: #fff;
  padding-right: 20px;
  font-size: 15px; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  font-size: 15px; }

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 15px; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #2545ac; }

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #2545ac; }

.navbar-light .navbar-toggler-icon {
  background-color: #ababab; }

.navbar-collapse {
  paddding-left: 0; }

.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }
