.icon-social {
    color: #fff;
    float: right;
    padding-left: 30px;
    padding-top: 20px;
}

.fn-100{
	float: left;
	width: 100%;
}

.text-blue{
	color: #3c74f3;
}

.text-blue{
	a{
		text-decoration: none;
	}
}

a:focus, a:hover{
	color: #1eca2b;
}