.header{
	background-color: #2545ac;
	min-height: 68px;
	float: left;
	width: $width-100;
}
.navbar-brand{
	float: left;
	padding-bottom: 0;
	padding-top: 0;
	margin-right: 0;
}
.navbar-brand{
	img{
		margin: 11.5px 0px;
		width: 135px;
		height: 45px;
	}
} 
.navbar-nav{
	li{
		font-size: 18px;
		float: right;
	}
} 

.navbar-nav{
	a{
		color: $font-color;
	}
} 

.nav-content{
	width: $width-100;
	float: left;
	min-height: 75px;
	background-color: #1c1f23;
	font-size: 15px;
}

.nav-content{
	.nav{
		padding: 18px 0;
	}
	.nav-link{
		text-align: center;
		color: $font-white;
		float: left;
	}
}

.slide-show{
	width: $width-100;
	float: left;
	height: 525px;
}
.slide-show{
	img{
		width: $width-100;
		height: $height-100;
	}
	.carousel-item{
		width: $width-100;
		height: 525px;
		float: left;
		background-size: cover;
	}
	.btn{
		margin-top: 35px;
		border-radius: 20px;
		background-color: #2545ac;
		border: none;
	}
	.carousel-control-next, .carousel-control-prev{
		width: 50px;
	}
	.block-arrow{
		width: 50px;
		height: 90px;
		background-color: #33393d;
		margin-top: 210px
	}
	.carousel-control-next-icon, .carousel-control-prev-icon{
		width: 20px;
		height: 40px;
		background-size: cover;
		margin: 25px 0px; 
	}

	.carousel-control-prev-icon{
		background-image: url(../images/slide-pre.png);
	}

	.carousel-control-next-icon{
		background-image: url(../images/slide-next.png);
	}
} 

.title-info{
	height: 85px;
}

.title-info{
	.title{
		float: left;
		text-transform: uppercase;
		font-size: 30px;
	}
} 
.sub-text{
	margin-top: -350px;
	color: $font-white;
	float: left;
}

.sub-text{
	h2{
		text-transform: uppercase;
		font-size: 30px;
	}
	p{
		font-size: 15px;
		padding-top: 40px;
		line-height: 22px;
	}
} 

.horse-info{
	width: $width-100;
	min-height: 500px;
	float: left;
}

.title-info{
	h2{
		font-size: 18px;
		text-transform: uppercase;
		color: $font-white;
		float: left;
		padding: 28px 0;
	}
} 
.horse-image{
	background-color: #363636;
	float: left;
	height: 300px;
	margin-bottom: 20px;
}

.horse-image{
	img{
		width: $width-100;
		height: 210px;
	 	object-fit: cover;
	}
} 

.horse-image{
	h3{	
		padding-left: 17px;
		float: left;
		font-size: 18px;
		color: $font-white;
	}
	p{
		float: left;
		color: $font-grey;
		font-size: 15px;
		padding-left: 17px;
	}
} 

.arrow-control{
	margin-top: 20px;
	margin-bottom: 55px;
	float: left;
	width: $width-100;
	height: 30px;
}
.box-arrow{
	height: 30px;
	width: 35px;
	margin-top: 1300px;
	background-color: #2545ac;
}

.box-arrow{
	img{
		width: 20px;
		height: 17px;
		margin-left: 5px;
		margin-top: 5px;
	}
} 

.arrow-control{
	.left-arrow{
		float: left;
	}
} 

.arrow-control{
	.right-arrow{
		float: right;
	}
} 

.race-info{
	float: left;
	width: $width-100;
	height: 285px;
	background-color: #363636;
	border-bottom: 1px solid #111;
}

.race-info{
	img{
		width: $width-100;
		height: 190px;
		float: left;
	}
	h3{
		margin-top: 12px;
		float: left;
		color: $font-white;
		font-size: 16px;
		padding-left: 17px;
	}
	p{
		float: left;
		color: $font-grey;
		font-size: 13px;
		padding-left: 17px;
	} 
}

.race{
	width: $width-100;
	height: 105px;
	float: left;
	background-color: #363636;
	border-bottom: 1px solid #111;
}

.race{
	img{
		float: left;
		width: 70px;
		height: 70px;
		margin:15px;
	}
} 

.right-newletter{
	float: left;
	width: 150px;
}
.right-newletter{
	h3{
		margin-top: 15px;
		font-size: 14px;
		color: $font-white;
		float: left;
	}
	p{
		float: left;
		color: $font-grey;
		font-size: 13px;
	}

} 
.edmond-race{
	float: left;
	background-image: url(../images/background-edmond.png);
	width: $width-100;
	height: 285px;
	padding-top: 90px;
	color: $font-color;
	text-transform: uppercase;
}

.edmond-race{
	h3{
		width: $width-100;
		color: $font-white;
		font-size: 20px;
		padding-left: 27px;
	}
	h2{
		width: $width-100;
		padding-left: 27px;
		font-size: 26px;
		color: #fefefe;
		margin-top: 18px;
	}
	img{
		float: left;
		padding-left: 27px;
		padding-top: 20px;
		height: 65px;
	}
} 

.contact-them{
	float: left;
	width: $width-100;
	height: 248px;
	margin: 35px 0;
}
.contact-them{
	.image-them{
		width: 70%;
		float: left;
	}
	img{
		float: left;
		width: 100%;
	}
	.contact-button{
		width: 155px;
		height: 40px;
		float: left;
		background-color: #2545ac;
		margin-left: -20px;
		margin-top: 60px;
	}
	h3{
		text-transform: uppercase;
		color: $font-white;
		font-size: 20px;
		text-align: center;
		margin-top: 10px;
	}
}

.btn-primary {
    color: #fff;
    font-size: 15px;
    background-color: #111111;
    border-color: #111111;
}
.btn-primary:hover {
    color: #3c74f3;
    background-color: #363636;
    border-color: #111111;
}

.bg-light{
    margin-right: -15px;
    margin-left: -15px;
	margin-top: 10px;
	background-color: #1c1f23!important;
	font-size: 15px;
}
.bg-light li{
	padding-right: 25px;
}

.navbar-light .navbar-brand{
	color: $font-white;
	padding-right: 20px;
	font-size: 15px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: $font-white;
	font-size: 15px;
}

.navbar-light .navbar-nav .nav-link{
	color: $font-white;
	font-size: 15px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #2545ac;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
	color: #2545ac;
}

.navbar-light .navbar-toggler-icon{
	background-color: #ababab;

}

.navbar-collapse{
	paddding-left: 0;
}


.table{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	background-color: #252525;
	margin-bottom: 50px;
}

.table{
	.thead-dark{
		th{
			text-transform: uppercase;
			font-size: 15px;
			background-color: #000;
			border-color: #000;
			font-weight: normal;
		}
	}
} 

.race-table-info{
	background-color: #363636;
}

.nav-tabs {
    background-color: #000;
    border-bottom: 1px solid #363636;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #3c74f3;
    background-color: #363636;
    border: 1px solid #363636;
}

.title-menu{
	h2{
		color: #fff;
	    text-align: center;
	    font-size: 21px;
	    text-transform: uppercase;
	    margin-bottom: 15px;
	}
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 5px 5px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #363636;
    border-radius: 50%;
    border: 1px solid #354362;
}

.field-box{
	width: 88px;
	height: 30px;
	float: left;
	border: 1px solid #354362;
	border-radius: 15px;
	p{
		text-align: center;
		padding-top: 2px;
	}
}

.field-box:hover{
	background-color: #fff;
	color: #1eca2b;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: 1px solid #363636;
}

.form-contact{
	background-color: #2545ac;
	padding-bottom: 25px;
}

.form-title{
	height: 28px;
	margin: 35px 0;
	i{
		color: $font-white;
		font-size: 28px;
		float: left;
		padding-right: 18px;
	}
	p{
		float: left;
		font-size: 20px;
		color: $font-white;
		text-transform: uppercase;
	}
}

.two-input{
	float: left;
	width: 400px/1170px*100%;
	margin-right: 32.5px/1170px*100%;
	font-size: 15px;
}

.one-input{
	float: left;
	width: 563px/1170px*100%;
	margin-right: 62.5px/1170px*100%;
	font-size: 15px;
}
.button-sets{
 	margin-top: 98px;
	float: left;
	font-size: 15px;
	background-color: #fff;
	border-radius: 17.5px;
}

.form-control{
	height: 50px;
}
.email{
	margin-top: 35px;
}
.button-sets{
	.btn{
		width: 100%;
		height: 100%;
		float: left;
		background-color: #fff;
		boder-radius: 17.5px;
		img{
			margin-left: 10px;
		}
	}
}

.button-sets{
	.btn:hover{
		background-color: #333;
		color: #2545ac;
	}
}

.btn{
	border-radius: 17.5px;
}

.footer{
	margin: 35px 0;
	color: #fff;
}

.footer{
	.row-footer{
		margin-left: -15px;
		margin-right: -15px;
	}
}

.welcome-banner{
	position: relative;
	padding-bottom: 30px;
	&:after{
		content: '';
		display: block;
		height: 45px;
		width: 1px;
		background-color: #fff;
		position: absolute;
		top: 100%;
		left: 30px;
	}
}
.contact-content{
	color: #fff;
	font-size: 13px;
}

.contact-info{
	font-size: 15px;
	color: #fff;
	h2{
		color: #3c74f3;
		text-transform: uppercase;
		font-size: 15px;
	}
	.contact-center{
		width: 100%;
		float: left;
	}
	i{
		float: left;
		padding-right: 10px;
		margin-top: 4px;
	}
	p{
		float: left;
	}
}